////////////////////////////////////
// Images
////////////////////////////////////

svg{
	display: block;
}

[class*="icon"]{
	&:before{
		display: inline-block;
		content: '';
		vertical-align: middle;
	}
}

@include sprites($spritesheet-sprites);