////////////////////////////////////
// Type
////////////////////////////////////


h2{
	font-size: remCalc(24);
}

.text-green{
	color: $brand-green;
}

.text-pink{
	color: $brand-pink;
}

.text-purple{
	color: $brand-purple;
}