////////////////////////////////////
// Homepage
////////////////////////////////////

.home-cover{
	background: url('../img/cover-home.jpg');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: remCalc(450);
	position: relative;
	margin-bottom: remCalc(32);
}

.home-block{
	width: 100%;
	background-color: rgba($brand-green, .78);
	padding: remCalc(15);
	position: absolute;
	bottom: 0;
	color: #fff;
	text-align: center;
	h1{
		font-size: remCalc(26);
	}
}

.home{
	.strong-green{
		color: $brand-green;
	}

	.home-box{
		position: relative;
		padding: remCalc(132) remCalc(15) remCalc(15);
		background-color: $brand-purple;
		background-image: url('../img/gradient-homepageBG.svg');
		background-repeat: no-repeat;
		background-size: 100%;  
		height: remCalc(238);
		color: #fff;
		margin: remCalc(15) remCalc(-15) remCalc(30) remCalc(-15);
		#hand-left{
			display: none;
		}
		#hand-right{
			position: absolute;
			right: 0;
			bottom: 0;
			max-width: remCalc(220);
		}
		p{
			font-size: remCalc(18);
			margin-bottom: remCalc(8);
		}
		.btn{
			font-size: remCalc(13.5);
		}
	}

	.h2{
		
	}
}

// Breakpoint Medium
@media #{$breakpoint-md} {

	.home-cover{
		background-position: 0 remCalc(-32);
		height: remCalc(544);
	}

	.home-block{
		h1{
			font-size: remCalc(34);
		}
	}

	.home{
		.home-box{
			min-height: remCalc(354);
			padding-top: remCalc(226);
			padding-left: remCalc(234);
			#hand-left{
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				max-width: remCalc(300);
			}
			#hand-right{
				max-width: 100%;
			}
			p{
				font-size: remCalc(24);
			}
			.btn{
				font-size: remCalc(20);
				padding: remCalc(14) remCalc(22);
			}
		}
	}

}

// End Breakpoint Medium

// Breakpoint Large
@media #{$breakpoint-lg} {

	.home-cover{
		background-position: 0 remCalc(-190);
		height: remCalc(544);
	}

	.home{
		.home-box{
			padding-left: remCalc(288);
			#hand-left{
				max-width: 100%; 
			}
			#hand-right{
				max-width: 100%;
			}
			p{
				font-size: remCalc(24);
			}
			.btn{
				font-size: remCalc(20);
				padding: remCalc(14) remCalc(22);
			}
		}
	}

	.home{
		.i-box{
			.right{
				padding-top: remCalc(18);
			}
		}
	}

}
// End Breakpoint Large




